/* 
    COLOUR PALETTE
    night:            #182222;
    dark-slate-gray:  #405B5B;
    french-gray:      #e2dfe7;

    FONT FAMILIES
    headings and button: 'Fjalla One', sans-serif;
    body copy: 'Open Sans', sans-serif;
*/

:root{
    --night:            #182222;
    --dark-slate-gray:  #405B5B;
    --french-gray:      #e2dfe7;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

header{
    background-image:url(/dmit-1530-lab-01-start/img/mountains.jpg);
}

h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--dark-slate-gray);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 2.25rem;
    color: var(--dark-slate-gray);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

h3{
    font-size: 1.25rem;
    color: var(--night);
    margin-bottom: .5rem;
}

footer h3{
    font-size: 1.5rem;
    color: var(--dark-slate-gray);
    margin-top: 6rem;
}

p{
    margin-bottom: 1.50rem;
}

.button{
    font-size: 1.25rem;
    font-weight:bold;
    padding: 0.625rem 1.25rem; 
    color: var(--dark-slate-gray);
    text-decoration: none;
    border: 4px solid;
    border-radius: 0.3125rem; 
    
}

.container{
    max-width: 64rem;
    align-items: center;
    margin: 0 auto; 
}

.flex-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 4.5rem auto;
}

footer{
    background-color: var(--night);
    color:var(--dark-slate-gray);
    font-weight: bold;
    text-align: center;
    padding-top: 0.001rem;
    padding-bottom: 0.15rem;
}

.div-image{
    width: 30vh;
}

footer p{
    background-color: var(--night);
    color:var(--dark-slate-gray);
    font-weight: bold;
    text-align: center;
    margin-top: .25rem  ;
}