/* 
    COLOUR PALETTE
    night:            #182222;
    dark-slate-gray:  #405B5B;
    french-gray:      #e2dfe7;

    FONT FAMILIES
    headings and button: 'Fjalla One', sans-serif;
    body copy: 'Open Sans', sans-serif;
*/

:root{
    --night:            #182222;
    --dark-slate-gray:  #405B5B;
    --french-gray:      #e2dfe7;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    max-width: 128rem;
}

.second-section{
    margin-bottom: 4rem;
}


h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--dark-slate-gray);
    margin-top: 2.00rem;
    margin-bottom: 2.00rem;
}

h2{
    font-size: 2.25rem;
    color: var(--dark-slate-gray);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

h3{
    font-size: 1.25rem;
    color: var(--night);
    margin-bottom: .5rem;
}

footer h3{
    font-size: 1.5rem;
    color: var(--dark-slate-gray);
    padding-top: 2.5rem;
}

.first-section p{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.second-section p{
    margin-bottom: 1.5rem;
}

.button{
    font-size: 1.25rem;
    font-weight:bold;
    padding: 0.625rem 1.25rem; 
    color: var(--dark-slate-gray);
    text-decoration: none;
    border: 4px solid;
    border-radius: 0.3125rem;    
}

.container{
    align-items: center;
    margin: 0 auto; 
    background-color: var(--french-gray);
}

main{
    padding-left:1rem;
    max-width: 64rem;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 4.5rem auto;
}

footer{
    background-color: var(--night);
    color:var(--dark-slate-gray);
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
}

.div-image{
    width: 18vw;
    height: 18vw;
}

footer p{
    background-color: var(--night);
    color:var(--dark-slate-gray);
    font-weight: bold;
    text-align: center;
    margin-top: 1.1rem;
}

